body{
	margin: 0;
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 20px;
	background-color: #388C77;
}

header{
	background: #388C77;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
header h1{
	color: #C5CC04;
	font-size: 70px;
	padding-top: 0px;	
	letter-spacing: 5px;
}
h1, h2{
	font-family: 'Palanquin Dark', sans-serif;
}
header img{
	border-radius: 100%;
    width: 400px;
    border: 15px solid #d9de26;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: #C5CC04;
	margin: 20px 0 10px;
}
ol{
	color: #C1E1CF;
}
p.text{
	color: #C1E1CF;
	font-family: font-family: 'Palanquin Dark', sans-serif;
}
a{
	color: #C5CC04;
}
a:hover{
	color: white;
	background-color: #A7C7B5;
}
footer{
	background-color: #388C77;
	text-align: center;
	color:#C5CC04;
	padding: 50px;
}
footer p{
	margin: 0	
}
footer a{
	color:#C5CC04;
}
footer a:hover{
	color: white;
	background-color: #A7C7B5;	
}

p.caption{
	color: #99ADA8;
	font-style: italic;
	margin-top: 0;
	font-size: 15px;
}
